CLIENT_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJ4MDA1RGpfYTdoUjlpZmgxWVZ3NW0iLCJ1c2VyTmFtZSI6IkFub255bW91cyIsImV4cCI6MTc4OTk3OTk3N30.b9Vk84-JJvraOjYaryBMAC1Fd1hx-jRRyNuzfk0R6Es"
BASE_URL="https://syllabus_api.shishirg-dev.workers.dev"